.btn,
.btn *,
.btn :after,
.btn :before,
.btn:after,
.btn:before {
  border: 0 solid;
  box-sizing: border-box;
 
}
.btn {
  width: 150px;
  height:  54px;
  
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: var(--brand-color-btn);
  background-image: none;
  color: var(--brand-color-white);
  cursor: pointer;
font-family: Poppins,sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(var(--brand-color-btn), var(--brand-color-white));
  padding: 0;
}
.btn:disabled {
  cursor: default;
}
.btn:-moz-focusring {
  outline: auto;
}
.btn svg {
  display: block;
  vertical-align: middle;
}
.btn [hidden] {
  display: none;
}
.btn {
  background: none;
  box-sizing: border-box;
  color: var(--brand-color-white);
  display: block;
  /* font-weight: 900; */
  -webkit-mask-image: none;
  padding: 15px 35px;
  position: relative;
  /* text-transform: uppercase; */
}
.btn span {
  background: var(--brand-color-btn);
  /* border: 1px solid; */
  border-radius: 9px;
  display: grid;
  inset: 0;
  place-items: center;
  pointer-events: none;
  position: absolute;
}
.btn:hover span {
  -webkit-animation: jello 0.8s;
  animation: jello 0.8s;
}
@-webkit-keyframes jello {
  0%,
  11.1%,
  to {
    transform: translateZ(0);
  }
  22.2% {
    transform: skewX(-12.5deg) skewY(-12.5deg);
  }
  33.3% {
    transform: skewX(6.25deg) skewY(6.25deg);
  }
  44.4% {
    transform: skewX(-3.125deg) skewY(-3.125deg);
  }
  55.5% {
    transform: skewX(1.5625deg) skewY(1.5625deg);
  }
  66.6% {
    transform: skewX(-0.78125deg) skewY(-0.78125deg);
  }
  77.7% {
    transform: skewX(0.390625deg) skewY(0.390625deg);
  }
  88.8% {
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
  }
}
@keyframes jello {
  0%,
  11.1%,
  to {
    transform: translateZ(0);
  }
  22.2% {
    transform: skewX(-12.5deg) skewY(-12.5deg);
  }
  33.3% {
    transform: skewX(6.25deg) skewY(6.25deg);
  }
  44.4% {
    transform: skewX(-3.125deg) skewY(-3.125deg);
  }
  55.5% {
    transform: skewX(1.5625deg) skewY(1.5625deg);
  }
  66.6% {
    transform: skewX(-0.78125deg) skewY(-0.78125deg);
  }
  77.7% {
    transform: skewX(0.390625deg) skewY(0.390625deg);
  }
  88.8% {
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
  }
}
