@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --brand-color-body: rgb(252, 249, 245);
    --brand-color-white:rgb(255, 255, 255);
    --brand-color-black:rgb(0, 0, 0);
    --brand-color-menu: rgba(255, 255, 255, 0.65);
    --brand-color-btn: #FE5933;
    --brand-heading2:rgb(12, 29, 55);
  
    
}
