.wrapper {
   border-radius: 30px;
/* box-shadow: 1px 1px 38px 0px rgba(0, 0, 0, 0.07); */
 /* background: url(/assets/slides/hero-slide-1@1x.png);  */
 /* background-size: cover;
 background-repeat: no-repeat; */
width: 670px;
height: 620px;
padding: 0;margin: 0;
  box-sizing: border-box;
}